.image {
    padding: 25px;
    float: left;
}
.image2 {
    width: 16px;
    height: 16px;
    padding-top: 11px;
}
.image3 {
    
    width: 10px;
    height: 10px;
    margin-left: 49%;
    margin-top: 13%;

}
.logos {
    float: left;
}
.logo {
    color: white;
    font-size: 24px;
    margin-bottom: unset;
}
.tech {
    font-size: xx-small;
    color: white;
    
}
.background {
    background-image: url("background.png");
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    padding-left: 150px;
    padding-right: 150px;
    max-width: 1200px;
    margin: 0 auto;
}
.navigation {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    text-align: right;
    padding-top: 40px;
    padding-left: 200px;
    color: #b3b8bb;
    
}
.navigation a {
    margin: 10px;
    font-size: 14px;
    text-decoration: none;
    color: gray;
    float: right;
    
}
.navigation li {
    margin-right: 10px;
}
.title {
    color: white;
    text-decoration: none;
    padding-left: 80px;
    font-size: 60px;
    padding-right: 50px;
    align-items: center;
}
.text {
    text-align: justify;
    padding-left: 80px;
    color: white;
    padding-top: 20px;
}

.horizontal{
    color: rgb(93, 89, 89);
    padding-left: 150px;
    padding-right: 150px;
}
.text2{
    text-align: center;
    text-decoration: dotted;
    padding-top: 15px;
    padding-bottom: 15px;
    font-style: italic;
}
.number {
    color: #2b9765;
    font-size: 30px;
    margin-bottom: unset;
}
.number2 {
    font-size: xx-small;
    margin-left: 20px;
}
.hang {
    float: left;
    
}
.intro {
    margin-left: 400px;
}
.section3{
    background-color: #f3f7f8;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 30px;
}
.section4{
    padding-left: 250px;
    padding-right: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section5{
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
}
.expertise{
    color: #9ca4ac;
    padding-top: 30px;
    margin-bottom: 20px;
}
.container1 {
    display: flex;
    gap: 10px;
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    
}
.color {
    color: #2b9765;
    
}

.images {
    display: flex;
    border-bottom: #2b9765;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.section8{
    background-color: #202930;

}
.last{
    padding-left: 200px;
    padding-right: 200px;
    
}
.text3{
    color: #b3b8bb;
    padding-bottom: 30px;
  
}
.section7 {
    background-color: #f3f7f8;
    text-align: center;
    margin-bottom: 20px;
    padding-left: 250px;
    padding-right: 250px;
}
.button1{
    color: #2b9765;
    border-radius: 30px;
    border-color: #2b9765;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    float: right;
}
.text4 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.em{
    float: right;
}
.button2 {
    color: white;
    background-color: #2b9765;
    border-radius: 20px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}
.text5 {
    color: grey;
    
}
.card {
    width: 250px;
    border-bottom: solid #2b9765 5px;
    height: 200px;
    
}
.word {
    color: gray;
}
.word7 {
    float: left;
    margin-bottom: unset;
}
.word8 {
    font-size: x-small;
    color: gray;
}
.blogs {
    display: flex;
    gap: 30px;
}
.section3 .blogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
.container2 {
    background-color: white;
    width: 200px;
    flex-basis: 30%;
}
.x {
    padding-left: 10px;
    color: gray;
    font-size: xx-small;

}
.y {
    float: right;
    color: grey;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: xx-small;
}
.z {
    color: gray;
    font-size: xx-small;
    padding-left: 10px;
}
.seven {
    margin-bottom: unset;
    padding-top: 20px;
    padding-left: 10px;
}
.color2 {
    margin-bottom: unset;
    padding-top: 20px;
    color: #2b9765;
    padding-left: 10px;
}
.text7 {
    text-align: justify;
    padding-left: 80px;
    color: white;
    padding-top: 30px;
    background-color: #2b9765;
    padding-bottom: 80px;
    margin-left: 200px;
    padding-right: 80px;
}
.image4 {
    width: 20px;
    height: 20px;
    margin-left: 49%;
   
}
.containerea{
    background-image: url("elective.png");
    width: 450px;
    height: 300px;
    background-size: cover;
    color: white;
    padding-top: 5px;
    padding-left: 10px;
}
.containermmc{
    background-image: url("mmc.png");
    width: 450px;
    background-size: cover;
    color: white;
    padding-top: 5px;
    padding-left: 10px;
}
.containercy{
    background-image: url("cy.png");
    background-size: cover;
    width: 780px;
    height: 300px;
    color: white;
    padding-top: 5px;
    padding-left: 10px;
}
.size {
    display: flex;
    gap: 40px;
}
.size1 {
    float: left;
}
.boxes {
    height: 700px;
}
@media (max-width: 768px) {
    .title {
      font-size: 36px;
    }
  
    .text {
      font-size: 16px;
    }
  
    .expertise {
      font-size: 20px;
    }
  
    .images .card {
      flex-basis: 100%;
    }
  
    .section4 .size {
      flex-basis: 100%;
    }
  
    .section3 .blogs .container2 {
      flex-basis: 100%;
    }
  }